body{
    width: 100%;
}

#wrapper{
    overflow-x: hidden;
    background-image: linear-gradient(
        to right,
        #f3dcba,
        #f5e3c2,
        #f7e8cb,
        #f8efda,
        #faf2dd   
    );
}

#sidebar-wrapper{
    min-height: 100vh;
    min-width: 20vw;
}

.sidebar-form .form-group{
    margin-bottom: 1rem;
}

.sidebar-form .form-group label{
    font-weight: bold;
}

.page-content-wrapper{
    min-width: 80vw;
}